.container
  .row
    .col-md-9.col-md-offset-2
      %h1.text-center=event.name 
      .row
        .col-md-8
          %h4.lead.text-center
          = markdown(event.short_text)


          %p
          = markdown(event.long_text)

          
         
          
          

          %small
            \- Last update :
            = event.updated_at
        .col-md-3.col-md-offset-1
          %h4.lead
            From : 
            = event.start_date.strftime("%m/%d/%Y at %I:%M %P")
            <br/>
            To :
            = event.end_date.strftime("%m/%d/%Y at %I:%M %P")

          .panel.panel-default
            .panel-body


              -if registration  
                -if isAuthentificated
                  -if isRegistered
                    %p You have already registered to this event. 


                    %a.btn.btn-primary{:href => "/profile/event/edit-registration/#{event.id}", :role => "button"} Edit registration  
                  -else
                    -if soldout
                      %p Sorry, there is no spot left for this event

                    -else 
                      %p You have not yet registered to this event. 

                      %a.btn.btn-primary{:href => "/event/register/#{event.id}", :role => "button"} Register
                -else
                  %p You need to be authentificated to register
              -else
                %p Registration is not allowed for this event.

