.wrapper
.jumbotron.home.hidden-xs
  .container.text-center
    %h1 31th International Workshop on Statistical Modelling
    %p INSA Rennes
    %br
    %a.btn.btn-lg.btn-success{:href => "/profile/account"}
      Registration
      %span.glyphicon.glyphicon-chevron-right
.container
  .row
    .col-md-8
      %h1 News
      - articles.each do |a|
        .panel.panel-default
          .panel-body
            %h3
              %span.glyphicon.glyphicon-chevron-right
              =a.title
            %p
              -#= markdown(a.short_text)
          .panel-footer
            .small.pull-left
              Category : 
              = a.category
              \- Last update : 
              = a.updated_at
              
            %a.pull-right.btn.btn-xs.btn-default{:href => "/article/#{a.id}"} Read more     &#8594; 
            %br.clear 
    .col-md-4
      %h1 Events
      - events.each do |e|
        .panel.panel-default
          .panel-body
            %h3
              %span.glyphicon.glyphicon-chevron-right
              =e.name
            %p
              = markdown(e.short_text)
          .panel-footer
            .small.pull-left
              Begin of the events : 
              = e.start_date 
            %a.pull-right.btn.btn-xs.btn-default{:href => "/events/#{e.id}"} Read more     &#8594; 
            %br.clear 

