.wrapper
.jumbotron.home.hidden-xs
  .container.text-center
    %h1 30th International Workshop on Statistical Modelling
    %p INSA Rennes
.container
  .row
    .col-md-8
      %h1 News
      - articles.each do |a|
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %a{:href => "/article/#{a.id}"}= a.title
          .panel-body
            %p
              = a.short_text

              %a{:href => "/article/#{a.id}"} Read more
          .panel-footer
            .small
              Category : 
              = a.category
              \- Last update : 
              = a.updated_at
              
    
    .col-md-4
      %h1 Events

