-last = reviewProps.at(-1)

%h2= review.name

%br
%table.table.table-stripped
  %tr
    %th Title
    %th Actions
    %th Validation
  -reviewProps.each do |reviewProp|

    %tr
      %td= reviewProp.lecturer_info
      %td 
        %a.btn.btn-default.btn-xs{:href => "/moderation/review/document/#{reviewProp.file}/#{reviewProp.file_name}", :target => "_blank"}
          View
        
      -if reviewProp == last
        %td
          %a.btn.btn-primary.btn-xs{:href => "/moderation/validation/#{reviewProp.id}"} 
            Validate
      -else
        %td 
          Already seen
