%h2.pull-left List of articles

%a.pull-right{:href => "/admin/article/new", :style => "margin-top: 20px", :class => "btn btn btn-primary"} 
  Add a new article

%table.table.table-stripped
  %tr
    %th Title
    %th Category
    %th Created at
    %th Updated at
    %th Action

  - articles.each do |a|
    %tr
      %td= a.title
      %td= a.category
      %td= a.created_at
      %td= a.updated_at
      %td
        %a.btn.btn-xs.btn-default{:href => "/admin/article/edit/#{a.id}"} Edit
        %a.btn.btn-xs.btn-danger{:href => "/admin/article/delete/#{a.id}"} Delete

%a.pull-right{:href => "/admin/article/new", :style => "margin-top: 20px", :class => "btn btn btn-primary"} 
  Add a new article
