- if edit
  -suf="::#{felt.id}"
- else
  - suf = "" #TO MANAGE NEW CASE
  %h2 Create a new form element for the event #{event.name}
  :plain
    <form method = "POST">

.form-group
  %label{:for => "question"} Question : 
  %input{:type => "text", :class => "form-control", :id => "question#{suf}", :name => "question#{suf}", :placeholder => "Are you vegetarian...", :title => "question#{suf}", :value => felt.question}
.form-group
  %input{:type=>"hidden",:id=>"event",:name=>"event",:value=>event.id}
.form-group
  #types.btn-group{"data-toggle"=>"TEST","aria-multiselectable" => "false", :role => "tablist"}
    .panel
      %label.btn.btn-primary
        %input{:type=>"radio",:name => "form_type#{suf}",:id=>"bool",:autocomplete => "off","aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#types", "data-toggle" => "collapse", "data-target" => "#collapseOne",:value =>elements['bool']}
        Checkbox 
      %label.btn.btn-primary
        %input{:type=>"radio",:name => "form_type#{suf}",:id=>"select",:autocomplete => "off","aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-parent" => "#types", "data-toggle" => "collapse", "data-target" => "#collapseTwo",:value =>elements['select']}
        Selection
      %label.btn.btn-primary
        %input{:type=>"radio",:name => "form_type#{suf}",:id=>"string",:autocomplete => "off","aria-controls" => "collapseThree", "aria-expanded" => "true", "data-parent" => "#types", "data-toggle" => "collapse", "data-target" => "#collapseThree",:value =>elements['string']}
        Text
      
      #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      #collapseTwo.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
        .panel-body
          .form-group
            %label{:for => "data"} Enter each different rows separated by  a ';'
            %input{:type => "text", :class => "form-control", :id => "dataSelect#{suf}", :name => "dataSelect#{suf}", :placeholder => "Choice one;Choice two", :title => "dataSelect#{suf}", :value => felt.data}
      #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}

.form-group
  %input.pull-right.btn.btn-lg.btn-primary{:type => "submit", :value => "Publish"}


- if !edit
  :plain
    </form>
