- if edit
  -suf="::#{felt.id}"
  -id="#{felt.id}"
- else
  - suf = "" #TO MANAGE NEW CASE
  %h2 Create a new form element for the event #{event.name}
  :plain
    <form method = "POST">

.row

  .form-group
    %label.col-sm-2.control-label{:for => "question"} Question : 
    .col-sm-10
      %input{:type => "text", :class => "form-control", :id => "question#{suf}", :name => "question#{suf}", :placeholder => "Are you vegetarian...", :title => "question#{suf}", :value => felt.question}
  %input{:type=>"hidden",:id=>"event#{suf}",:name=>"event#{suf}",:value=>event.id}
  .form-group 
    .col-sm-10.col-sm-offset-2
      .accordion{:id => "typeSelection#{id}"}
        .panel
          .btn-group{"data-toggle" => "buttons"}
            %label.btn.btn-primary{felt.form_type == FormElement.TYPES["bool"] ? {:class => "active"}:{},"data-parent" => "#typeSelection#{id}","aria-controls" => "collapseBool#{id}", "data-target" => "#collapseBool#{id}", "data-toggle" => "collapse", :type => "button"}
              %input{felt.form_type == FormElement.TYPES["bool"] ? {:checked => ""}:{},:autocomplete => "off", :type => "radio",:name => "form_type#{suf}",:id=>"bool#{suf}",:value =>elements['bool']}
                Checkbox
            %label.btn.btn-primary{felt.form_type == FormElement.TYPES["select"] ? {:class => "active"}:{},"data-parent" => "#typeSelection#{id}","aria-controls" => "collapseBool#{id}", "data-target" => "#collapseSelect#{id}", "data-toggle" => "collapse", :type => "button"}
              %input{felt.form_type == FormElement.TYPES["select"] ? {:checked => ""}:{},:autocomplete => "off", :type => "radio",:name => "form_type#{suf}",:id=>"select#{suf}",:value =>elements['select']}
                Select list
            %label.btn.btn-primary{felt.form_type == FormElement.TYPES["string"] ? {:class => "active"}:{},"data-parent" => "#typeSelection#{id}","aria-controls" => "collapseString#{id}", "data-target" => "#collapseString#{id}", "data-toggle" => "collapse", :type => "button"}
              %input{felt.form_type == FormElement.TYPES["string"] ? {:checked => ""}:{},:autocomplete => "off", :type => "radio",:name => "form_type#{suf}",:id=>"text#{suf}",:value =>elements['string']}
                Text
          .collapse{felt.form_type == FormElement.TYPES["bool"] ? {:class => "in"}:{},:id => "collapseBool#{id}"}
          .collapse{felt.form_type == FormElement.TYPES["select"] ? {:class => "in"}:{},:id => "collapseSelect#{id}"}
            .panel-body
              .form-group.vcenter
                %label.col-sm-4.control-label{:for => "data"} Enter each different rows separated by  a ';'
                .col-sm-8
                  %input{:id => "text", :class => "form-control", :id => "dataSelect#{suf}", :name => "dataSelect#{suf}", :placeholder => "Choice one;Choice two", :title => "dataSelect#{suf}", :value => felt.data}
          .collapse{felt.form_type == FormElement.TYPES["string"] ? {:class => "in"}:{},:id => "collapseString#{id}"}
            
- if !edit
  .checkbox
    %label
      %input{ :type => "checkbox",  :id => "add_form_element", :name => "add_form_element",:value=> '1'}/
      Add a form to your event

  .form-group
    %input.pull-right.btn.btn-lg.btn-primary{:type => "submit", :value => "Publish"}
  


  :plain
    </form>
