%h2 Reviews by user

%table.table.table-stripped
  %tr
    %th Title
    %th Author
    %th Status
    %th Action

  - reviews.each do |a|
    -u = User.find(a.lecturer_id)
    %tr
      %td= a.name
      %td= u.first_name
      -case a.state
        -when "waiting_for_review" then 
        -tmp="Waiting for review"
        -when "waiting_for_validation" then 
        -tmp="Waiting for validation"
        -when "closed" then 
        -tmp="Closed"
        -when "validated" then
        -tmp="Validated"
      %td= tmp
      %td 
        %a.btn.btn-default.btn-xs{:href => "/admin/review/view/#{a.id}"} 
          View
        %a.btn.btn-danger.btn-xs{:href => "/admin/review/delete/#{a.id}"} 
          Delete 
