-last = reviewProps.at(-1)

%h2= review.name

%br
%table.table.table-stripped
  %tr
    %th Title
    %th Person in charge
    %th Actions
    %th Validation
  -reviewProps.each do |reviewProp|

    %tr
      %td= reviewProp.lecturer_info
      -if review.validator.nil?
        %td 
      -else
        %td #{review.validator.first_name} #{review.validator.last_name}
      %td 
        %a.btn.btn-default.btn-xs{:href => "/moderation/review/document/#{reviewProp.file}/#{reviewProp.file_name}", :target => "_blank"}
          View
        
        -if reviewProp == last
          %a.btn.btn-info.btn-xs{:href => "/admin/review/assignement/#{reviewProp.id}"}
            Assign sby
      -if reviewProp == last
        %td
          %a.btn.btn-primary.btn-xs{:href => "/admin/review/validation/#{reviewProp.id}"} 
            Validate

      -else
        %td 
          Already seen
